<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webpack node setting</title>
    <!-- <link rel="stylesheet" href="./normalize.css"> -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
</head>
<body>
    <h1 id="root"></h1>
    <section></section>
    <%- include("./footer.ejs") %>
    <!-- <script src="./dist/index_build.js" type="module"></script> 접근불가-->
    <script src="./jquery-3.6.0.min.js"></script>
    <script src="./build/index_build4.js"></script>
    <!-- <script src="./public/index.js" type="module"></script> 빌드전-->
</body>
</html>